<div class="box">

    <form (ngSubmit)="send()" ngNativeValidate>

        <label>Team: </label>
        <select class="form-control selectBox" name="kindTaskId" [(ngModel)]="task.kindTaskId" required>
          <option selected disabled>Select Type</option>
          <option *ngFor="let t of kindTask" [value]="t.kindTaskId">{{ t.taskName }}</option>
        </select>
        <br>
    
        <label>Name: </label>
        <input type="text" name="name" [(ngModel)]="task.name" required minlength="2" maxlength="15">

        <label>Description: </label>
        <input type="text" name="description" [(ngModel)]="task.description" required min="0" max="1000">

        <label>Start Date: </label>
        <input type="date" name="startDate" [(ngModel)]="task.startDate" required>

        <label>End Date: </label>
        <input type="date"[(ngModel)]="task.endDate">
        <button>Add</button>
    </form>

</div>